body {

    /*background:papayaWhip*/
    background: black;
    color:white;
    font-family: Comic-sans, Arial, Helvetica, sans-serif;
}
figure {background: #CFCBCA;

    
}
div.side-by-side {
    display: flex;
}

img {
    width: 40%;
    max-width: 500px;
}

.featureBlock {
    background-color:black;
    font-size: smaller;
}