body {

    /*background:papayaWhip*/
    background: #F8F8F8;
    color:white;
    font-family: Comic-sans, Arial, Helvetica, sans-serif;
}
figure {
/*background: #CFCBCA;*/

    
}
div.side-by-side {
    display: flex;
}

img {
    width: 90%;
    max-width: 500px;
}

.featureBlock {
    background-color:black;
    font-size: smaller;
}